/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a, nav {
    color: black;
}

.nav-wrapper {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#top {
    color: blue;
}

​ ​path {
    fill: blue;
}

​ .brand-logo path {
    color: blue;
}

​ p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.dropshadow {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    ;
}


.shadowfilter {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0,Color='#000')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .8));
    text-shadow: 0px 0px 15px rgba(0, 0, 0, .8);
}

.headingContainer {
    width: 100%;
    padding: 5%;
}

.logoContainer {
    max-width: 390px;
    color: inherit;
}

.hoverable2 {
    transition: all .25s;
    text-shadow: 0;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
}

.hoverable2:hover {
    transition: all .25s;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .95);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .95);
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    transform: scale(1.05, 1.05);
}


h1 {
    font-family: Raleway;
    font-weight: 550;
}

h3 {
    font-family: Raleway;
    font-weight: 600;
}

h4 {
    font-family: Raleway;
    font-weight: 600;
}

h5 {
    font-size: 120%;
    font-family: Raleway;
    font-weight: 400;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: inherit;
}

.textlink {
    text-decoration: underline;
}

.up10 {
    position: relative;
    top: -10px;
}

.up20 {
    position: relative;
    top: -20px;
}

.up60 {
    position: relative;
    top: -60px;
}

tr.menu_links {
    cursor: pointer;
}

footer.rightblue {
  background-color: rgb(11,70,123);
}

.half {
  height: 50%;
}
